h1 {
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
}

div#linkList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#linkList a {
    padding: 20px 30px;
    border: 1px solid;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    color: #000;
}